<ng-template [ngIf]="info">
  <div class="cards-row">
    <div class="card">
      <app-image [src]="info.imageSource" class="card-image" />
      <div class="card-title">{{ info.name }}</div>
      <div class="card-desc">
        {{ info.description }}
      </div>
      <div class="card-actions">
        <button
          routerLink="compound/{{info.id}}"
          type="button"
          class="card-action-readMore"
        >
          Read More
        </button>
      </div>
    </div>
  </div>
</ng-template>
